.team-leader-dashboard-container {
    padding: 20px;
  }
  
  .team-leader-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
  }
  
  .team-leader-content {
    padding: 20px;
    background-color: white;
  }
  
  .team-leader-actions button {
    margin: 5px;
    padding: 10px;
  }
  
  .team-leader-section ul {
    list-style: none;
    padding: 0;
    width: 500px;
  }
  
  .team-leader-section li {
    background-color: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
  }
  