.settings-container {
    padding: 20px;
  }
  
  .settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .settings-content {
    padding: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .settings-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .settings-form input, .settings-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
  
  .settings-form button {
    padding: 10px 20px;
    width: 200px;
    background-color: #3b3b3b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .settings-form button:hover {
    background-color: #4e4e4e;
    color: rgb(255, 255, 255);
  }