.about {
    background-color: rgb(254, 243, 226);
    height: 89vh;
  }
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 80px;
  }
  
  .about-image {
    width: 65%;
    height: 650px;
    border-radius: 8px;
    translate: 80px 0;
  }
  
  .about-text {
    flex: 1;
    padding: 20px;
  }
  
  .about-text h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    translate: -150px 0;
  }
  
  .about-text p {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .social-icons1 {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  .social-icons1 a {
    color: #000000;
    font-size: 24px;
    transition: color 0.3s ease;
  }
  
  .social-icons1 a:hover {
    color: rgb(86, 85, 85);
  }
  