   .settings-container {
    padding: 20px;
  }
  
  .settings-container h2 {
    margin-top: 0;
  }
  
  .settings-form {
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-right: 10px;
  }
  
  .form-group input,
  .form-group select {
    padding: 5px;
    font-size: 1rem;
  }
  
  .save-button {
    
    width: 200px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3b3b3b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .save-button:hover {
    background-color: #4e4e4e;
    color: rgb(0, 0, 0);
  }
  